html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body,
html {
  width:100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h5 {
  font-family: @font-sans-headings;
  text-transform: uppercase;
  font-weight: 800;
  @media(min-width:@breakpoint-md){
    font-size: 4em;
  }
  @media(min-width:@breakpoint-lg){
    font-size: 4em;
  }
  @media(min-width:@breakpoint-xl){
    font-size: 4em;
  }
}
[class^="icon-"] {
  + h3 {
    margin-top:0;
  }
}
p, ul {
  font-family: @font-sans-body;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 100;
  @media(min-width:@breakpoint-md){
    font-size: 2em;
  }
  @media(min-width:@breakpoint-lg){
    font-size: 2.5em;
  }
  @media(min-width:@breakpoint-xl){
    font-size: 3em;
  }
}
a {
  color: @white;
}
hr.story-separator {
    padding: 0;
    border: none;
    border-top: medium double @white;
    color: @white;
    text-align: center;
    opacity: .3;
    margin: 2em 0;
}
// Animated Titles
.main-wrapper {
  width:100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding:1em;
  border:1em solid @white;
  overflow: hidden;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  @media(min-width:@breakpoint-xs){
    background-image: url(/img/headshot-cropped.jpg);
    background-position: -100px 0;
  }
  @media(min-width:@breakpoint-sm){
    border:2em solid @white;
  }
  @media(min-width:@breakpoint-md){
    background-image: url(/img/headshot-cropped.jpg);
  }
  @media(min-width:@breakpoint-lg){
    background-image: url(/img/headshot-cropped.jpg);
    background-position: 0 -250px;

  }
  @media(min-width:@breakpoint-xl){
    background-image: url(/img/headshot-cropped.jpg);
    background-position: 0 -450px;

  }
  .scroll-one{
    position:absolute;
    bottom: 30px;
    left: 48%;
  }
  .icon-expand-more:before {
    color: @white;
    @media(min-width:@breakpoint-lg){
      font-size: 3em;
      text-shadow: 1px 1px 10px @black;
    }
  }
}
.title-wrapper{
  position: relative;
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.6);
  padding: 0 20px;
  @media(min-width:@breakpoint-xs){
    left: 20px;
    top: 70%;
  }
  @media(min-width:@breakpoint-sm){
    left: 20px;
    top: 70%;
  }
  @media(min-width:@breakpoint-md){
    left: 80px;
    top: 70%;
  }
  @media(min-width:@breakpoint-lg){
    left: 140px;
    top: 50%;
  }
  @media(min-width:@breakpoint-xl){
    left: 200px;
    top: 50%;

  }
}
.title-static{
	font-size: 12vw;
  padding-top:25px;
  letter-spacing: 0px;
  @media(min-width:@breakpoint-sm){
    font-size: 10vw;
  }
  @media(min-width:@breakpoint-md){
    font-size: 10vw;
    padding-top:40px;
  }
  @media(min-width:@breakpoint-lg){
    padding-top:50px;
  }
  @media(min-width:@breakpoint-xl){
    padding-top:80px;
  }
  @media(min-width:@breakpoint-xl) and (orientation: landscape){
    padding-top:75px;
  }
}
.title-words{
	display: inline;
}
.title-words .title-icon-1:before,
.title-words .title-word:nth-child(1) {
  color: @teal;
}
.title-words .title-icon-2:before,
.title-words .title-word:nth-child(2) {
  color: @purple;
}
.title-words .title-icon-3:before,
.title-words .title-word:nth-child(3) {
  color: @orange;
}
.title-words .title-icon-4:before,
.title-words .title-word:nth-child(4) {
  color: @red;
}
.title-words .title-icon-5:before,
.title-words .title-word:nth-child(5) {
  color: @green;
}

.title-words .title-icon-1:before,
.title-words .title-word:nth-child(1),
.title-words .title-icon-2:before,
.title-words .title-word:nth-child(2),
.title-words .title-icon-3:before,
.title-words .title-word:nth-child(3),
.title-words .title-icon-4:before,
.title-words .title-word:nth-child(4),
.title-words .title-icon-5:before,
.title-words .title-word:nth-child(5){
  // text-shadow:0 0 1px @white,
  // 0 0 1px @white,
  // 0 0 1px @white,
  // 0 0 1px @white,
  // 0 0 1px @white,
  // 0 0 1px @white;

}
.title-words .title-icon-1,
.title-words .title-icon-2,
.title-words .title-icon-3,
.title-words .title-icon-4,
.title-words .title-icon-5 {
  position: absolute;
	opacity: 0;
	color: @black;
	-webkit-animation: rotateIcon 15s linear infinite 0s;
	-ms-animation: rotateIcon 15s linear infinite 0s;
	animation: rotateIcon 15s linear infinite 0s;
  font-size: 6vw;
  left:10px;
  top:2px;
  @media(min-width:@breakpoint-sm){
    font-size: 4vw;
  }
  @media(min-width:@breakpoint-md){
    font-size: 5vw;
  }
}
.title-words .title-icon-2,
.title-words .title-icon-5 {
    top: 0px;
}
.title-words .title-word {
	position: absolute;
	opacity: 0;
	color: @black;
	-webkit-animation: rotateTitle 15s linear infinite 0s;
	-ms-animation: rotateTitle 15s linear infinite 0s;
	animation: rotateTitle 15s linear infinite 0s;
  font-size: 6vw;
  left:15px;
  top:10px;
  padding-left:38px;
  margin:0;
  @media(min-width:@breakpoint-sm){
    font-size: 4vw;
    padding-left:30px;
  }
  @media(min-width:@breakpoint-md){
    font-size: 5vw;
    padding-left:50px;
  }
  @media(min-width:@breakpoint-lg){
    font-size: 5vw;
    padding-left:80px;
  }
  @media(min-width:@breakpoint-xl) and (orientation: landscape){
    padding-left:200px;
  }
  @media(min-width:@breakpoint-xl){
    font-size: 5vw;
    padding-left:100px;
    top: 30px;
  }

}
.title-words .title-word:nth-child(2),
.title-words .title-icon-2 {
  -webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.title-words .title-word:nth-child(3),
.title-words .title-icon-3 {
  -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
.title-words .title-word:nth-child(4),
.title-words .title-icon-4 {
  -webkit-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
}
.title-words .title-word:nth-child(5),
.title-words .title-icon-5 {
  -webkit-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
}
@-webkit-keyframes rotateTitle {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateX(-30px); }
	5% { opacity: 1; -webkit-transform: translateX(0px);}
  17% { opacity: 1; -webkit-transform: translateX(0px); }
	20% { opacity: 0; -webkit-transform: translateX(30px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateTitle {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateX(-30px); }
	5% { opacity: 1; -ms-transform: translateX(0px);}
  17% { opacity: 1; -ms-transform: translateX(0px); }
	20% { opacity: 0; -ms-transform: translateX(30px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateTitle {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateX(-30px); transform: translateX(-30px); }
  5% { opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px);}
  17% { opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px); }
	20% { opacity: 0; -webkit-transform: translateX(30px); transform: translateX(30px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes rotateIcon {
  2% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
  5% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-ms-keyframes rotateIcon {
  2% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
  5% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rotateIcon {
  2% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }
  5% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
// Main Section
.main-section {
  color: @white;
  padding:20px;
  border:1em solid @white;
  border-top:0;
  position: relative;
  overflow: hidden;
  box-shadow: inset -6px -6px 0px rgba(0,0,0,0.2);
  background: url(/img/bg-noise.png);
  @media(min-width:@breakpoint-md){
    padding:50px;
  }
  @media(min-width:@breakpoint-lg){
    box-shadow: inset -12px -12px 0px rgba(0,0,0,0.2);
    border:2em solid @white;
    border-top:0;
  }
  @media(min-width:@breakpoint-xl){
    padding:100px;
  }
}
.main-about {
  background-color: @blue;
  @media(min-width:@breakpoint-md){
    h2 {
      max-width:90%;
    }
  }
  @media(min-width:@breakpoint-lg){
    h2 {
      max-width:80%;
    }
  }
}
.main-history {
  background-color: @orange;
  [class^="icon-"] {
    color:darken(@orange, 30%);
  }
}
.main-personal {
  background-color: @gold;
  [class^="icon-"] {
    color:darken(@gold, 30%)
  }
}
.main-social {
  background-color: @moss;
  [class^="icon-"] {
    color:darken(@moss, 30%);
    font-size: 2em;
  }
  .social-icon-wrapper {
    width: auto;
    margin:0 auto;
    display: table;
  }
  .social-icon {
    margin-right:1em;
    color:transparent;
  }
  @media(min-width:@breakpoint-md){
    [class^="icon-"] {
      font-size: 4em;
    }
    .social-icon {
      margin-right:4em;
      &:nth-child(5n) {
        margin:0;
      }
    }
  }
  @media(min-width:@breakpoint-lg){
    [class^="icon-"] {
      font-size: 5em;
    }
    .social-icon {
      &:nth-child(5n) {
        margin:0;
      }
    }
  }
}
.main-career {
  background-color: @green;
  [class^="icon-"]  {
    color:darken(@green, 30%)
  }
  @media(min-width:@breakpoint-lg){
    h3 {
      .text-center;
    }
    ul {
      margin:0;
      padding:0;
      li {
        .pull-left;
        list-style:none;
        &:after {
          content: ',';
          margin: 0 10px 0 0;
        }
        &:last-child:before {
          content:'and '
        }
        &:last-child:after {
          content:'.';
        }
      }
    }
  }
}
.main-process {
  background-color: @purple;
  [class^="icon-"] {
    color:darken(@purple, 20%)
  }
}
.main-built {
  background: none;
  box-shadow: none;
  color: #666;
  font-size: .8em;
  a {
    color: #666;
    text-decoration: underline;
  }
}
.main-history,
.main-career,
.main-process,
.main-personal  {
  .icon-school,
  .icon-college,
  .icon-toddler,
  .icon-career,
  .icon-brain,
  .icon-research,
  .icon-interview,
  .icon-personas,
  .icon-strategy,
  .icon-architect,
  .icon-sketch,
  .icon-wireframe,
  .icon-prototype,
  .icon-visual,
  .icon-document,
  .icon-code,
  .icon-camping,
  .icon-hiking,
  .icon-reading,
  .icon-bass,
  .icon-anna,
  .icon-ollie,
  .icon-pippin {
    opacity: .6;
    display: block;
    clear:both;
    width:100%;
    text-align: center;
    margin-bottom:20px;
  }
  .icon-toddler,
  .icon-brain,
  .icon-interview  {
    font-size: 5em;
    @media(min-width:@breakpoint-md){
      font-size: 8em;
    }
  }
  .icon-school,
  .icon-college,
  .icon-career,
  .icon-research,
  .icon-personas,
  .icon-strategy,
  .icon-architect,
  .icon-sketch,
  .icon-wireframe,
  .icon-prototype,
  .icon-visual,
  .icon-document,
  .icon-code,
  .icon-camping,
  .icon-hiking,
  .icon-reading,
  .icon-bass,
  .icon-anna,
  .icon-ollie,
  .icon-pippin {
    font-size: 4em;
    @media(min-width:@breakpoint-md){
      font-size: 7em;
    }
  }
  hr.story-separator {
      &:after {
          background: @orange;
      }
  }
}
