
// Colors
@white: #fff;
@black: #000;
@blue:#5e717e;
@purple:#5b2952;
@green:#209a91;
@orange:#f57647;
@red:#E68523;
@gold: #be9458;


// Type
@font-sans-headings: 'Raleway', serif;
@font-sans-body: 'Roboto', sans-serif;

// Grid Helper Variables
@grid-min-value: 2%;
@grid-low-value: 5%;
@grid-med-value: 10%;
@grid-max-value: 20%;

// Responsive Breakpoints
@breakpoint-xs: 20em;
@breakpoint-sm: 30em;
@breakpoint-md: 48em;
@breakpoint-lg: 62em;
@breakpoint-xl: 75em;
